<div>
  <label>Title {{input value=title class='post-title'}}</label>
</div>
<div>
  <label>Body {{input value=body class='post-body'}}</label>
</div>

<button type="submit" {{action 'save' this}}>Save</button>
<button type="submit" {{action 'cancel' this}}>Cancel</button>
